<%= link_to 'Retour', clients_path, class: "btn btn2 btn-dark" %>
<h1>Liste des entreprises</h1>

<table>
  <tr>
    <th>Nom</th>

  </tr>

  <% @entreprises.each do |ent| %>
    <tr>
      <td><%= ent.nomEntreprise %></td>
      <td><%= link_to 'Informations', client_path(ent),class: "btn btn-info" %>
        <%= link_to 'Supprimer', clients_path(ent),
              method: :delete,
              data: { confirm: 'Êtes-vous sûr ?' },class: "btn btn-danger" %></td>

    </tr>
  <% end %>
</table>
