<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Votre compte sur ESNGestion a été créé.</h1>
    <p>
      Votre mot de passe temporaire est : <%= @mdp %>
      Connecter vous au lien suivant : <%= @url %> et rénitialiser votre mot de passe.

    </p>
  </body>
</html>
